<div class="container">
	<div class="row">
		<div class="col-lg-4 offset-lg-3">
			<form name="form" #formData='ngForm' (ngSubmit)="onSubmit(formData)">
				<div class="alert alert-danger" role="alert" *ngIf="error">
				  {{ error }}
				</div>
				<div class="form-group">
				  <label for="user-email" >Email</label>
				  <input class="form-control" type="email" id="user-email" name="email" [(ngModel)]="email">
				</div>
				<div class="alert alert-success" role="alert" *ngIf="emailSuccess">
				  {{ emailSuccess }}
				</div>
				<div class="form-group">
				  <label for="current-password">Current Password</label>
				  <input class="form-control" type="password" id="current-password" name="pass" (ngModel)="pass" required>
				</div>
				<div class="form-group">
				  <label for="new-password">New Password</label>
				  <input class="form-control" type="password" id="new-password" name="new" (ngModel)="new">
				</div>
				<div class="form-group">
				  <label for="confirm-new-password">Confirm New Password</label>
				  <input class="form-control" type="password" id="confirm-new-password" name="conf" (ngModel)="conf">
				</div>
				<div class="alert alert-success" role="alert" *ngIf="passSuccess">
				  {{ passSuccess }}
				</div>
				<div class="form-group float-xs-right">
					<button type="button" class="btn btn-secondary" routerLink="/dashboard"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
					<button type="submit" class="btn btn-primary float-right">Save <i class="fa fa-check-square-o" aria-hidden="true"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>