<div class="modal fade bd-example-modal-lg" id="branchModal" tabindex="-1" role="dialog" aria-labelledby="branchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="branchModalLabel">Create branch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
      	   <label for="newBranchDiagram">Diagram title</label>
      	   <input type="text" class="form-control col-6" id="newBranchDiagram" #newBranchTitle value="New diagram">
      	 </div>
      	 <button type="button" class="btn btn-primary mb-2" data-dismiss="modal" (click)="createBranch(newBranchTitle.value, 1)">Create and go to new diagram</button>
      	 <button type="button" class="btn btn-primary mb-2" data-dismiss="modal" (click)="createBranch(newBranchTitle.value, 0)">Create and stay here</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>       
      </div>
    </div>
  </div>
</div>
<div class="slider" id="slider">
  <ul class="nav">
    <li class="nav-item">
      <a *ngIf="currentIndex == maxIndex"  class="nav-link active" (click)="playSlides = !playSlides; replaySlider()">
        <i class="fa fa-repeat" aria-hidden="true" ></i> 
        <small> {{ currentIndex }}/{{ maxIndex }}</small>
      </a>
      <a *ngIf="currentIndex != maxIndex"  class="nav-link active" (click)="playSlides = !playSlides; playSlider(1)">
        <i  [class]="playSlides ? 'fa fa-pause':'fa fa-play'" aria-hidden="true"></i> 
        <small> {{ currentIndex }}/{{ maxIndex }}</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <small>Speed: </small> 
        <input type="range" min="300" max="2000" step="100" value="1300" #speed (change)="speedSlider=speed.value" style="width: 100px;">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#branchModal">
        <i class="fa fa-code-fork" aria-hidden="true"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="playSlides = !playSlides; playSlider(-1)">
        <i class="fa fa-backward" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <div class="row">
	 <input type="range" min="1" [max]="maxIndex" step="1" [value]="currentIndex" #inputslider (change)="changeSlide(inputslider.value)" class="svg-slider">
  </div>
</div>