<div class="modal fade bd-example-modal-lg" id="branchModal" tabindex="-1" role="dialog" aria-labelledby="branchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="branchModalLabel">Create branch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
      	   <label for="newBranchDiagram">Diagram title</label>
      	   <input type="text" class="form-control col-6" id="newBranchDiagram" #newBranchTitle value="New diagram">
      	 </div>
      	 <button type="button" class="btn btn-primary mb-2" data-dismiss="modal" (click)="createBranch(newBranchTitle.value, 0)">Create and go to new diagram</button>
      	 <button type="button" class="btn btn-primary mb-2" data-dismiss="modal" (click)="createBranch(newBranchTitle.value, 1)">Create and stay here</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>       
      </div>
    </div>
  </div>
</div>
<div class="slider" id="slider">
	<div class="">
		<i *ngIf="currentIndex == maxIndex" class="fa fa-repeat" aria-hidden="true" style="display: inline-block; margin-left: 40px; margin-right: 10px;" (click)="playSlides = !playSlides; replaySlider()"></i>
		<i *ngIf="currentIndex != maxIndex" [class]="playSlides ? 'fa fa-pause':'fa fa-play'" aria-hidden="true" style="display: inline-block; margin-left: 40px; margin-right: 10px;" (click)="playSlides = !playSlides; playSlider(1)"></i>
		<small> 
			{{ currentIndex }}/{{ maxIndex }}
			<span class="ml-2">Speed: </span> 
			<input type="range" min="300" max="2000" step="100" value="1300" #speed (change)="speedSlider=speed.value" style="width: 100px;">
		</small>
		<span class="ml-3">
			<i class="fa fa-code-fork" aria-hidden="true" data-toggle="modal" data-target="#branchModal"></i>
		</span>
		<span class="float-right mr-2" (click)="playSlides = !playSlides; playSlider(-1)">
			<i class="fa fa-backward" aria-hidden="true"></i>
		</span>
	</div>
	<input type="range" min="1" [max]="maxIndex" step="1" [value]="currentIndex" #inputslider (change)="changeSlide(inputslider.value)" class="svg-slider">
	<!-- <svg class="svg-slider" id="svg-slider" >
		<g id="gslider"></g>
	</svg> -->
</div>