#tools {
	position: absolute;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;
	height: calc(100% - 60px);
	z-index: 1;
}
#diagram-tools {
  position: absolute;
  margin-top: 20px;
}
#diagram-tools .btn-tool {
  width: 55px;
  border: none;
  border-radius: 0;
  background-color: #f7f7f7;
}
#diagram-tools .btn-tool:hover{
  background-color: lightgray;
}

#mirrorNode {
	position: absolute;
	margin-left: 58px;
	height: 28px;
	width: 28px;
	background-color: white;
	border: 2px solid #333333;
	border-radius: 14px;
	text-align: center;
}

#diagram {
	position: absolute;
	width: 100%;
	height: calc(100% - 60px);
}

.input-group > button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}