<!-- Graph diagram -->
<div id="diagram"></div>

<!-- Edit form -->
<div id="edit-form" class="col-lg-3 col-md-4 col-xs-12 offset-lg-9 offset-md-8" *ngIf="showEditForm">
	<div class="form-group row" >
		<a (click)="showEditForm = false;" style="font-size: 1.4em; cursor: pointer;">
			<i class="fa fa-times-circle-o" aria-hidden="true"></i>
		</a>
		<node-form *ngIf="showEditNode"
			[node]="currentNode"
			[color] = "color"
			(saveNode) = "saveNode($event)"
			(deleteNode) = "deleteNode($event)">
		</node-form>
		<relationship-form *ngIf="!showEditNode"
			[relationship]="currentRel"
			[color] = "color"
			(saveR) = "saveR($event)"
			(deleteR) = "deleteR($event)"
			(reverseR) = "reverseR($event)">
		</relationship-form>
	</div>
</div>

<!-- Tools -->
<div id="diagram-tools" class="btn-group-vertical">
	<button type="button" class="btn btn-secondary btn-tool" (click)="zoomIn()"><i class="fa fa-plus" aria-hidden="true"></i></button>
	<button type="button" class="btn btn-secondary btn-tool" (click)="zoomOut()"><i class="fa fa-minus" aria-hidden="true"></i></button>
	<button type="button" class="btn btn-secondary btn-tool mt-2 mb-2" (click)="zoomFit()"><i class="fa fa-crosshairs" aria-hidden="true"></i></button>
	<div *ngIf="access!='Read Only'" class="btn-group-vertical">
	  <button type="button" class="btn btn-secondary btn-tool"
	  	(click)="addNode=false; deleteElement=false; addRel=false; copyStyle=!copyStyle;"
	  	>
	  	<img *ngIf="!copyStyle" src="../assets/img/paintbrush_off.svg">
	  	<img *ngIf="copyStyle" src="../assets/img/paintbrush_on.svg">
	  </button>
		<button type="button" [class]="addNode ? 'btn btn-danger':'btn btn-secondary btn-tool'" (click)="deleteElement=false; copyStyle=false; addRel=false; addNode=!addNode">
			<i class="fa fa-plus-circle" aria-hidden="true"></i>
		</button>
		<button type="button" [class]="addRel ? 'btn btn-danger':'btn btn-secondary btn-tool'" (click)="deleteElement=false; copyStyle=false; addNode=false; addRel=!addRel;">
			<i class="fa fa-arrows-h" aria-hidden="true"></i>
		</button>
		<button type="button" [class]="deleteElement ? 'btn btn-danger':'btn btn-secondary btn-tool'" (click)="copyStyle=false; addNode=false; addRel=false; deleteElement=!deleteElement">
			<i class="fa fa-trash-o" aria-hidden="true"></i>
		</button>
	  <div *ngIf="addNode || copyStyle" id="mirrorNode" [style.top]="addNode ? '36px':'0px'" [style.color]="mirrorNode.color" [style.border-radius]="mirrorNode.isRectangle ? '5px':'14px'" [style.background-color]="mirrorNode.fill">
	 	 T
	  </div>
	  <button type="button" class="btn btn-secondary btn-tool mt-2" (click)="undo()"><i class="fa fa-level-up fa-rotate-270" aria-hidden="true"></i></button>
	  <button type="button" class="btn btn-secondary btn-tool mb-2" (click)="redo()"><i class="fa fa-level-up fa-rotate-90" aria-hidden="true"></i></button>
	  <button type="button" class="btn btn-secondary btn-tool" (click)="showSlider=!showSlider;"><i class="fa fa-play" aria-hidden="true"></i></button>
	</div>
</div>

<!-- Slider -->
<slider *ngIf="showSlider"></slider> 

<!-- Colors modal -->
<div class="modal fade bd-example-modal-lg" id="colorpicker" tabindex="-1" role="dialog" aria-labelledby="branchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="padding: 15px;" data-dismiss="modal">
    	<colors (changeColor)="changeColor($event)"></colors>
    </div>
  </div>
</div>