#tools {
	position: absolute;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;
	height: calc(100% - 60px);
	z-index: 1;
}
#diagram-tools {
  position: absolute;
  margin-top: 20px;
}
#diagram-tools .btn-tool {
  width: 55px;
  border: none;
  border-radius: 0;
  background-color: #f7f7f7;
}
#diagram-tools .btn-tool:hover{
  background-color: lightgray;
}

#mirrorNode {
	position: absolute;
	margin-left: 58px;
	height: 28px;
	width: 28px;
	background-color: white;
	border: 2px solid #333333;
	border-radius: 14px;
	text-align: center;
}

#diagram {
	position: absolute;
	width: 100%;
	height: calc(100% - 60px);
}
.slider{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #f7f7f7;
	padding-top: 8px;
	color: #777D80;
}
.svg-slider{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	height: 18px;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #CAD4D9;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #777D80;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #777D80;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CAD4D9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #CAD4D9;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #777D80;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #777D80;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #CAD4D9;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #CAD4D9;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #777D80;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #777D80;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #CAD4D9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #CAD4D9;
}