 <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">{{ title }}</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <!-- Diagram title -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title }}</a>
        <div class="dropdown-menu"  aria-labelledby="responsiveNavbarDropdown" id="diagram-title" *ngIf='access!="Read Only"'>
          <div class="input-group">
            <input type="email" class="form-control" [value]="title" #titleInput>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="changeTitle(titleInput.value)">Change</button>
            </span>
          </div>
        </div>
      </li>
      <!-- Diagrams -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="showDiagrams=true">
          <i class="fa fa-list-alt" aria-hidden="true"></i> Diagrams
        </a>
        <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown" id="diagrams" (click)="onEvent($event)">
          <diagram-list *ngIf="showDiagrams"></diagram-list>
        </div>
      </li>
      <!-- Share -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="showAccess=true">
          <i class="fa fa-share-square-o" aria-hidden="true"></i> Share
        </a>
        <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown" id="users" (click)="onEvent($event)">
          <access-list *ngIf="showAccess"></access-list>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav float-lg-right">
      <!-- Import -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-upload" aria-hidden="true"></i> Import
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="responsiveNavbarDropdown" (click)="onEvent($event)">
          <div class="importNodes" style="padding: 20px;">
            <select class="custom-select mb-4 mr-4">
                <option value="1">CSV: Nodes</option>
            </select>
            <button type="button" class="btn btn btn-outline-primary mb-4" (click)="downloadSample()"><i class="fa fa-download" aria-hidden="true"></i> Sample</button>
            <label class="custom-file">
              <input type="file" id="importCSV" class="custom-file-input" (change)="importCSV($event)">
              <span class="custom-file-control">{{ importFileName }}</span>
              <small style="font-size: 75%">Note: file must be formatted properly for import to work.</small>
            </label>
            <button *ngIf="importReady" type="button" class="btn btn btn-primary float-right mb-2 mt-2" (click)="importNodes()">{{ importReady }}</button>
            <div class="alert alert-danger" role="alert" *ngIf="importError">
              {{ importError }}
            </div>
            <div class="alert alert-success" role="alert" *ngIf="importSuccess">
              {{ importSuccess }}
            </div>
          </div>
        </div>
      </li>
      <!-- Export -->
    	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-download" aria-hidden="true"></i> Export
        </a>
        <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="responsiveNavbarDropdown">
          <a class="dropdown-item" (click)="exportCypher()">Cypher</a>
          <a class="dropdown-item" (click)="exportCSV('nodes')">CSV: Nodes</a>
          <a class="dropdown-item" (click)="exportCSV('relationships')">CSV: Relationships</a>
          <a class="dropdown-item" (click)="exportMarkup()">Markup</a>
	        <a class="dropdown-item" (click)="exportSVG()">SVG</a>
        </div>
      </li>
      <!-- Settings -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog" aria-hidden="true"></i> Settings
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="responsiveNavbarDropdown">
          <a class="dropdown-item" routerLink="/dashboard/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Profile</a>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>