#diagrams-table  {
	cursor: pointer;
}
 
#diagrams,
#users {
	padding: 15px;
}

.custom-file-control::before {
    content: "Browse";
}

@media (min-width: 992px) {
	.navbar-brand {
		display: none;
	}
	#diagrams, 
	#users {
		min-width: 600px;
	}

	#diagram-title {
		padding: 10px;
		min-width: 300px;
	}
}