#diagrams,
#users {
	padding: 15px;
}

.custom-file-control::before {
    content: "Browse";
}

export {
	position: fixed;
	z-index: 100;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	overflow: scroll;
}

@media (min-width: 992px) {
	.navbar-brand {
		display: none;
	}
	#diagrams, 
	#users {
		min-width: 600px;
	}

	#diagram-title {
		padding: 10px;
		min-width: 300px;
	}
}