<nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link">Diagram Title</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list-alt" aria-hidden="true"></i> </a>
        <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
          <a class="dropdown-item">Diagrams Here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-square-o" aria-hidden="true"></i> Share</a>
        <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
          <a class="dropdown-item">Share Here</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav float-lg-right">
    	<li class="nav-item">
    	  <a class="nav-link"><i class="fa fa-plus-circle" aria-hidden="true"></i> Node</a>
    	</li>
    	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-external-link" aria-hidden="true"></i> Export</a>
        <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="responsiveNavbarDropdown">
	        <a class="dropdown-item" >Markup</a>
	        <a class="dropdown-item" >SVG</a>
	        <a class="dropdown-item" >Cypher</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="responsiveNavbarDropdown">
          <a class="dropdown-item" routerLink="/dashboard/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Profile</a>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>