/* You can add global styles to this file, and also import other style files */
nav .dropdown-toggle::after {
    display:none
}

nav a {
	cursor: pointer;
}

svg.graph {
	width: 100%;
	height: 100%;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}


